.wrapper
  .side-bar
    %ul.my-page
      %h2 マイページ
      %li
        = link_to("お知らせ",root_path,class:"side_menu-items")
      %li 
        = link_to('やることリスト', root_path,class:"side_menu-items")
      %li 
        = link_to("いいね！一覧",root_path,class:"side_menu-items")
      %li 
        = link_to('出品する', root_path,class:"side_menu-items")
      %li 
        = link_to("下書き一覧",root_path,class:"side_menu-items")
      %li 
        = link_to('出品した商品', root_path,class:"side_menu-items")
      %li 
        = link_to("購入した商品",root_path,class:"side_menu-items")
      %li 
        = link_to('評価一覧', root_path,class:"side_menu-items")
    %ul.settings
      %h2 設定
      %li 
        = link_to("プロフィール",root_path,class:"side_menu-items")
      %li 
        = link_to('支払い方法', root_path,class:"side_menu-items")
      %li 
        = link_to("メールアドレス/パスワード",root_path,class:"side_menu-items")
      %li 
        = link_to('出品する', root_path,class:"side_menu-items")
        
  .main-content
    .user-icon
      .user-photo
        = image_tag "member_photo_noimage_thumb.png", size:"60x60",alt:"アイコン"
      .user-name
        =@Nickname
    %ul.mypage-function
      %li
        = link_to('ログアウトする',destroy_user_session_path,method: :delete,class:"function-logout")
      %li
        = link_to('クレジットカードの登録/変更',root_path,class:"function-creditcard")