.header-inner
  .header-main
    .header-logo
      = link_to '/' do
        = image_tag 'logo.png',size:"140x41",alt:"ロゴ"
    .header-search-box
      = search_form_for @search, url:search_items_path do |f|
        = f.text_field :name_cont,placeholder:"キーワードから探す",class:"header-search-form"
        = image_submit_tag "icon-search 1.png",size:"20x20",alt:"検索",class:"search-button"
  .nav-bar
    %ul.seach-list
      %li 
        = link_to("カテゴリー","#", class:"search-category")
      %li 
        = link_to('ブランド', "#",class:"search-brand")
    %ul.member-menu-list
      - if user_signed_in? 
        %li
        = link_to("マイページ",user_path(current_user.id), class: "mypage")
      -else
        %li 
        = link_to('ログイン',new_user_session_path, class: "sign_in")
        %li 
        = link_to('新規会員登録',new_user_registration_path, class: "sign_up")
    
      
      