.item-details
  .item-details__contents
    .item-details__contents__item-box
      %h2.item-details__contents__item-box__name
        =@item.name
      .item-details__contents__item-box__images
        .item-details__contents__item-box__images_main
          = image_tag @item.images[0].url.url
        %ul.item-details__contents__item-box__sub-images
          - @item.images.drop(1).each do |image|
            %li.item-details__contents__item-box__sub-images_sub
            =image_tag image.url.url 
      .item-details__contents__item-box__price
        ￥
        =@item.price
        .item-details__contents__item-box__price__tax
          （税込）送料込み
      .item-details__contents__item-box__text
        =@item.explanation
      .item-details__contents__item-box__imformation
        %table  
          %tr 
            %th 出品者
            %td 
              =@item.user.Nickname
          %tr
            %th カテゴリー
            %td 
              = link_to '時計', '#' 
          %tr
            %th 商品の状態
            %td 
              =@item.condition.name
          %tr
            %th 配送料の負担
            %td 
              =@item.payer.name
          %tr
            %th 発送元の地域
            %td
              =@item.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              =@item.preparation_day.name
      .item-details__contents__item-box__price
        ￥
        =@item.price
        .item-details__contents__item-box__price__tax
          （税込）送料込み
      .item-details__contents__item-box__sign_in
        %ul.item-details__contents__item-box__sign_in_a
          - if user_signed_in? &&current_user.id ==@item.user_id
            %li
            =link_to "商品の編集", edit_item_path(@item.id),class: 'edit_btn'
            =link_to "この商品を削除する",item_path(@item.id), method: :delete,class:'destroy_btn'
          -elsif user_signed_in?
            %li.item-details__contents__item-box_purchase
            =link_to"購入画面に進む",'purchase_item_path'
          -else
            %li.item-details__contents__item-box_purchase
            
        
      .item-details__contents__item-box__other
        .item-details__contents__item-box__other__like
          = icon('fas','star')
          お気に入り 2
        .item-details__contents__item-box__other__report
          = link_to '#' do
            = icon('fas', 'flag')
            不適切な商品の通報
  - if user_signed_in?
    .item-details__contents__comment-box
      = form_with(model:[@item,@comment], local: true, class: "item-details__contents__conmment-box__form", id: "new_comment") do |form|
        = form.text_area :comment, {class: "textbox", placeholder: "コメントを入力する"}
        .item-details__contents__comment-box__form__warning
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button.item-details__contents__comment-box__form__submit{type: "submit"}
          = icon('fas', 'comment') 
          コメントする
    .item-details__contents__comment-list
      %p ＜コメント一覧＞
      - if @comments 
        -@comments.each do |comment|
          .item-details__contents__comment-list__content
            .item-details__contents__comment-list__content__details
              = comment.user.Nickname
              %strong :
              = comment.comment
          - if user_signed_in? && current_user.id == @item.user_id
            .item-deatils__contents__comment-list__content__destroy
              = link_to item_comment_path(comment.item.id, comment.id), method: :delete do
                = icon('fas', 'trash')
  .item-details__links
    .item-details__links__previous
      = link_to '#' do
        = icon('fa', 'angle-left')
        前の商品
    .item-details__links__back
      = link_to '#' do
        後ろの商品
        = icon('fa', 'angle-right')
  .item-details__other-items
    = link_to '時計をもっと見る', '#'
    .item-details__other-items__item-list
      = link_to '#', class: "item-details__other-items__item-list__content" do
        .item-details__other-items__item-list__content__top
          = image_tag "https://item-shopping.c.yimg.jp/i/n/edc_6015-fb1"
        .item-details__other-items__item-list__content__bottom
          %h3.item-details__other-items__item-list__content__bottom__name
            RITZENHOFF
          .item-details__other-items__item-list__content__bottom__details
            %ul
              %li.item-details__other-items__item-list__content__bottom__details__price
                10000円
              %li.item-details__other-items__item-list__content__bottom__details__like
                = icon('fas', 'star') 
                1
            %p.item-details__other-items__item-list__content__bottom__details__tax
              （税込）