.wrapper
  .header
    .logo
      = link_to '/' do
        = image_tag 'material/logo/logo.png',size:"140x41",alt:"ロゴ"
  .contents
    .title
      %h2 購入内容の確認
    .product-details-box
      .product-photo
        写真
      .product-details
        .product-name
          %p【着画】ナイキ NIKE 刺繍ロゴ パーカー スウェット ブルー 青 古着
        .product-price
          %p 送料込み(税込)
          .price
            ￥2,000
    .tortal-price-box
      %p 支払い金額
      .tortal-price
        ￥2,000
    .payment-method
      %h3 支払い方法
      - if @default_card_infomation.blank?
        %p 未設定
      - else
        = '**** **** ****' + @default_card_infomation.last4 
        - exp_month = @default_card_infomation.exp_month.to_s
        - exp_year = @default_card_infomation.exp_year.to_s.slice(2,3)
      %br
        = '有効期限' + exp_month + '/' + exp_year
      - if @item.buyer_id.present?
        %br
        %button.sold-out-button
          %p 売り切れ
        %br
        = link_to'トップページに戻る', items_path
      - else
        = form_tag(action: :pay, method: :post) do
          %button.buy-btn
            購入する
  .footer
    %ul.footer-list
      %li 
        =link_to("プライバシーポリシー",root_path)
      %li 
        =link_to("メルカリ利用規約",root_path)
      %li 
        =link_to("特定商取引に関する表記",root_path)
    .footer-logo
      = image_tag 'logo-white.png',size:"140x41",alt: 'ロゴ'