
.header
  =render "show.header"
.nav-bar
  %ul.member-menu-list
    
    - if user_signed_in? &&current_user.id ==@item.user_id
      %li
      = link_to"マイページ","/users/#{@item.id}"
      
    -elsif user_signed_in?
      .space
    -else
      %li 
      = link_to 'ログイン',"new_user_session_path",class:'log'
      %li 
      = link_to'新規会員登録'," new_user_registration_path",class:'new'

.details-page
  = render "item_details"
= render "bottom_banner"


= render "footer"
